# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Rolsyn.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\Rolsyn\.idea\.idea.Rolsyn.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
